<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="main.css">
</head>
<body>
<h2>Report Index</h2>

<table>
    <thead>
        <tr>
        <th>device</th>
        <th>IPv4</th>
        {% for report in rp_reports %}
        <th>{{ report }}</th>
        {% endfor %}
        </tr>
    </thead>
 <tbody>
 {% if ansible_limit is not defined or ansible_limit == "" %}
 {% set ansible_limit = 'all' %}
 {% endif %}
 {% for host in groups[ansible_limit] %}
  <tr>
  <td> {{ hostvars[host].inventory_hostname }}</td>
  <td> {{ hostvars[host].ansible_host }}</td>
  {% for report in rp_reports %}
    <td><a href="{{ hostvars[host].inventory_hostname }}_{{ report }}.html" title="link" >link</a></td>
  {% endfor %}
  <tr>
 {% endfor %}
 </tbody>
</table>

</body>
</html>